# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go external packages folder
#vendor/

# WebStorm
*.iml
# WebStorm Directory-based project format:
.idea/
.idea/workspace.xml
**/.idea/workspace.xml

# mac hidden files
.DS_Store

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Visual Studio code project files
.vscode/
tsd.json
typings/

debug

credentials.ini
env/
*_vars.yaml
vyatta_hosts
*_hosts*
*_hosts_2*
f5_hosts
ansible.cfg
config_backups
RSC/
RSC_*.yaml
facts.yaml
mit_fw_gary_*.yaml
facts-*.yaml
mit_show_cmd*.yaml
mit_copy_*.yaml
playbooks/group_vars/
env
#playbooks/namespace.yaml
